<div id="index-content-wrap" class="index-content-wrap">
  <section class="index-content-main no-content">
    <div class="wrapper">
      <div class="index-content-inner inner">
        <div class="index-category-logo">
          <%- svg_icon('err') %>
        </div>
        <div class="index-category-description">
          <h1 class="index-category-title"><%- __('index.nothing') %></h1>
          <p class="index-category-info"><%- __('index.404_info') %></p>
        </div>
      </div>
    </div>
  </section>
</div>
