<div id="content-wrap">
  <div class="wrapper">
    <div id="content-inner" class="inner">
      <section id="content-main">
        <%- partial('_partial/article', {post: page, index: false, cache: true}) %>
      </section>
    </div>
  </div>
</div>
