<div class="site-search">
  <div class="wrapper">
    <div class="algolia-popup popup inner">
      <div class="algolia-search">
        <div class="algolia-search-input" id="algolia-search-input"></div>
      </div>
      <div class="algolia-results">
        <div id="algolia-hits"></div>
        <div id="algolia-stats"><a href="https://www.algolia.com" target="_blank"><%- svg_icon('algolia') %></a></div>
        <div id="algolia-pagination" class="algolia-pagination"></div>
      </div>
      <span class="popup-btn-close"><%- svg_icon('cancel') %></span>
    </div>
  </div>
</div>
