<article class="archive-post archive-type-<%= post.layout %>">
  <div class="archive-post-inner">
    <header class="archive-post-header">
      <%- partial('_post/title', {class_name: 'archive-post-title', index: true, cache: true}) %>
      <%- partial('_post/meta', {class_name: 'post-meta', index: true, cache: true}) %>
      <%- partial('_post/category', {class_name: 'post-category', cache: true}) %>
    </header>
  </div>
</article>
