.author-avatar img
  width 200px
  height 200px
  border-radius 50%

.page-description
  .author-title
    font-size 72px
    font-weight 600
    text-transform capitalize
    margin-bottom 0
    padding-bottom 0
    text-align center
    line-height 1.2
  .author-name
    font-size 24px
    font-weight 600
    color color-gray
    text-align center
    line-height 1
  .author-info
    font-size 16px
    text-align center

.about-content
  text-align center
  h2
    text-transform uppercase
    font-weight 600
  ul
    list-style none
    text-align center
    font-size 18px
    padding-bottom 15px
    margin-bottom 50px

.about-nothing-content
  margin-top 150px
  .about-nothing-logo
    margin auto
    position static
    text-align center
    width 100%
    .icon
      width 80px
      height 80px
      fill color-default
  .about-nothing-description
    margin 15px 10px 0
    padding-bottom 30px
    .about-nothing-title
      font-size 48px
      font-weight 600
      text-transform capitalize
      margin 0
    .about-nothing-info
      text-transform uppercase
      font-size 16px
      text-align center
      font-weight 500