.site-search
  color #fff
  position fixed
  z-index 999999
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  width 100%
  height 100%
  overflow hidden
  background-color color-default
  opacity 0.99
  display none
  .wrapper
    max-width content-width
    .algolia-popup
      position relative

.algolia-search-input
  height 50px
  margin-top 150px

.ais-SearchBox-form
  display block
  border-bottom 1px solid color-border
  position relative
  input
    color #fff
    background none
    padding-left 40px
    height 50px
    width 100%
    font-size 18px
    text-align left
    border none
  .ais-SearchBox-submit
    position absolute
    background none
    left 0
    top 15px
    border none
    height 20px
    width 20px
    padding 0
    margin 0
    .ais-SearchBox-submitIcon
      height 20px
      width 20px
      fill #fff

.algolia-results
  margin-top width-large

.ais-Hits-list
  list-style none
  padding-left 0
  .ais-Hits-item
    padding-bottom 10px
    .ais-Hits-item-link
      color #fff
      font-size 16px
      font-weight 400
      text-decoration none
      border-bottom none
      @extend title-link
      &:before
        background #fff

.ais-Pagination
  margin-top 40px
  padding 0
  text-align center

.ais-Pagination-list
  line-height 25px
  list-style none
  text-align center
  justify-content center

.ais-Pagination-item
  width 25px
  height 25px
  display inline-block
  padding 0
  margin 0
  margin-left 10px

.ais-Pagination-link
  color #fff
  display block
  border 1px solid #fff
  transition background-color 0.2s ease-out
  &:hover, &:focus
    border 1px solid #fff
    background-color #fff
    color color-default

.ais-Pagination-item--disabled .ais-Pagination-link
  opacity 0.5
  cursor not-allowed
  color #fff
  &:hover, &:focus
    color color-gray
    background-color color-default

.ais-Pagination-item--selected .ais-Pagination-link
  color color-default
  font-weight 600
  background-color #fff
  border-color #fff
  &:hover, &:focus
    background-color #fff

.popup-btn-close
  position absolute
  top 100px
  right -80px
  cursor pointer
  line-height 1
  width 50px
  height 50px
  @media mq-mobile
    right 0
  .icon
    width 50px
    height 50px
    padding 15px
    fill #fff
    opacity 0.3
    &:hover
      opacity 1

#algolia-stats
  height 45px
  position relative
  .icon
    position absolute
    top -10px
    right 0
    width 60px
    height 60px
    fill #fff
    &:hover
      fill #5468ff