.site-search
  position fixed
  z-index 999999
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  width 100%
  height 100%
  overflow hidden
  background-color rgba(255, 255, 255, 0.96)
  display none
  .wrapper
    max-width content-width
    .algolia-popup
      position relative

.algolia-search .algolia-search-input
  height 50px
  margin-top 150px
  .ais-SearchBox-form
    display block
    border-bottom 1px solid color-border
    position relative
    input
      background none
      padding-left 40px
      height 50px
      width 100%
      font-size 18px
      text-align left
      border none
    .ais-SearchBox-submit
      position absolute
      background none
      left 0
      top 15px
      border none
      height 20px
      width 20px
      padding 0
      margin 0
      .ais-SearchBox-submitIcon
        height 20px
        width 20px
        fill color-gray

.algolia-results
  margin-top 30px

.ais-Hits-list
  list-style none
  padding-left 0
  .ais-Hits-item
    padding-bottom 10px
    .ais-Hits-item-link
      color color-default
      font-size 16px
      font-weight 400
      padding-bottom 3px
      &:hover
        border-bottom 2px solid color-default

.ais-Pagination
  margin-top 40px
  padding 0
  text-align center
  .ais-Pagination-list
    line-height 25px
    list-style none
    text-align center
    justify-content center
    .ais-Pagination-item
      width 25px
      height 25px
      display inline-block
      padding 0
      margin 0
      margin-left 10px
      .ais-Pagination-link
        display block
        border 1px solid color-border
        transition background-color 0.2s ease-out
        &:hover, &:focus
          background-color color-body
    .ais-Pagination-item--disabled .ais-Pagination-link
      opacity 0.6
      cursor not-allowed
      color color-gray
      &:hover, &:focus
        color color-gray
        background-color #fff
    .ais-Pagination-item--selected .ais-Pagination-link
      color #fff
      font-weight 500
      background-color color-default
      border-color color-default
      &:hover, &:focus
        color #fff
        background-color color-default

.popup-btn-close
  position absolute
  top 100px
  right -80px
  cursor pointer
  line-height 1
  width 50px
  height 50px
  @media mq-mobile
    right 0
  .icon
    width 50px
    height 50px
    padding 15px
    fill color-border
    &:hover
      fill color-default

#algolia-stats
  height 45px
  position relative
  .icon
    position absolute
    top -10px
    right 0
    width 60px
    height 60px
    fill color-gray
    &:hover
      fill #5468ff