.archives-wrap
  margin-bottom width-large

.archive-year-wrap
  margin-bottom width-normal

.archive-year
  position relative
  font-size 28px
  font-weight 600
  color color-default
  text-decoration none
  border-bottom none
  @extend title-link
  &:hover
    border-bottom none
  &:after
    content '#'
    position absolute
    right calc(100% + 10px)
    bottom 0.2em
    color color-gray
    font-size 1.25rem
    font-weight 800
    font-variant 'small-caps'
    font-family font-sans
    border 0
    border-radius 0
    left auto
    font none
    padding 0
    vertical-align baseline
    line-height width-normal
  @media mq-mobile
    padding-left width-normal
    &:after
      left 0

.archives
  padding-left width-normal
  border-left 1px solid color-border

.archive-post
  margin-bottom width-large

.archive-post-title
  text-transform uppercase
  font-size font-big
  margin-bottom 0
  line-height 1
  a
    text-decoration none
    border-bottom none
    @extend title-link
    &:after
      content ''
      position absolute
      height 8px
      width 8px
      border-radius 50%
      background-color color-border
      transition background 0.2s ease-in-out
      top 4px
      left -25px
    &:hover:after
      background-color color-gray
