html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

button, input[type='reset'], input[type='button'], input[type='submit'], &::-moz-focus-inner, padding 0, margin 0, border 0, input, button, select
  margin 0
  padding 0
  border 0

html, body
  @media screen
    height 100%

body
  background-color color-body
  font-size font-size
  font-family font-sans
  color color-default
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overflow-x hidden
  line-height line-height

// Media
img, video
  height auto
  max-width 100%
  display block
  margin auto

embed, iframe, object
  max-width 100%

#container
  display flex
  min-height 100vh
  flex-flow column nowrap

#content-wrap, #index-content-wrap
  flex auto

.wrapper
  clearfix()
  width 100%
  @media screen
    max-width max-width
    margin 0 auto

.inner
  clearfix()
  @media screen
    padding 0 width-normal

.icon
  width icon-normal
  height icon-normal
  fill color-default

title-link
  position relative
  &:before
    background color-default
    bottom -3px
    content ''
    height 2px
    left 0
    position absolute
    transform scaleX(0)
    visibility hidden
    width 100%
    transition 0.2s 0s ease-in-out
  &:hover:before
    transform scaleX(1)
    visibility visible