#page-nav
  max-width content-width
  margin 0 auto
  border-top 1px solid color-body
  height 100px
  align-items center
  text-align center
  .pager
    border none
    font-weight 500
    text-transform uppercase
    background-color color-body
    border-radius 2px
    display inline-block
    font-size 24px
    line-height 24px
    padding 7px 12px
    margin-top 31px
    &:focus, &:hover
      background-color #222
      color #fff
      .icon
        fill #fff
    .icon
      width 14px
      height 14px
  .prev
    float left
    .icon
      transform rotate(90deg)
  .next
    float right
    .icon
      transform rotate(270deg)