// Page Colors
color-swift = #FF492B
color-hexo = #0E83CD
color-javascript = #F5E20A
color-node = #539E43
color-python = #3775A9
color-python-0 = #FFD040
color-java = #0D8AC7
color-java-0 = #EC2025
color-utilities = #F2A413
color-git = #F14E32
color-css = #264DE4

.hexo
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-hexo
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-hexo
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-hexo
  .index-category-link:hover
    color #fff
    background-color color-hexo
  .pace .pace-progress
    background color-hexo

.javascript
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-javascript
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-default
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-javascript
  .index-category-link:hover
    color color-default
    background-color color-javascript
  .pace .pace-progress
    background color-javascript

#javascript-icon .st0
  fill color-default

.css
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-css
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-css
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-css
  .index-category-link:hover
    color #fff
    background-color color-css
  .pace .pace-progress
    background color-css

#css-icon
  .st1
    fill #2965F1
  .st2
    fill #EBEBEB
  .st3
    fill #FFFFFF

.utilities
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-utilities
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-utilities
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-utilities
  .index-category-link:hover
    color #fff
    background-color color-utilities
  .pace .pace-progress
    background color-utilities

#utilities-icon .st0
  fill color-default

.swift
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-swift
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-swift
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-swift
  .index-category-link:hover
    color #fff
    background-color color-swift
  .pace .pace-progress
    background color-swift

.node
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-node
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-node
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-node
  .index-category-link:hover
    color #fff
    background-color color-node
  .pace .pace-progress
    background color-node

#node-icon .st0
  fill color-default

.python
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-python
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-python
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-python
  .index-category-link:hover
    color #fff
    background-color color-python
  .pace .pace-progress
    background color-python

#python-icon .st0
  fill color-python-0

.java
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-java
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-java
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-java
  .index-category-link:hover
    color #fff
    background-color color-java
  .pace .pace-progress
    background color-java

#java-icon .st0
  fill color-java-0

.git
  .index-category-link:hover, figcaption, .toc-link.current
    border-color color-git
  .article-toc-title, #article-toc-top:hover, .toc-link:hover, .toc-link.current
    color color-git
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon, .article-toc-title .icon, #mb-article-toc #mb-article-toc-inner:hover .icon
    fill color-git
  .index-category-link:hover
    color #fff
    background-color color-git
  .pace .pace-progress
    background color-git