// Page Colors
color-swift = #FF492B
color-hexo = #0E83CD
color-javascript = #F7DF1E
color-node = #539E43
color-python = #3775A9
color-python-0 = #FFD040
color-java = #0D8AC7
color-java-0 = #EC2025
color-utilities = #F2A413
color-git = #F14E32

.swift
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-swift
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-swift
  .index-category-link:hover
    color #fff
    background-color color-swift
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-swift

.hexo
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-hexo
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-hexo
  .index-category-link:hover
    color #fff
    background-color color-hexo
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-hexo

.javascript
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-javascript
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-javascript
  .index-category-link:hover
    color #fff
    background-color color-javascript
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-javascript

#javascript-icon .st0
  fill color-default

.node
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-node
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-node
  .index-category-link:hover
    color #fff
    background-color color-node
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-node

#node-icon .st0
  fill color-default

.python
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-python
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-python
  .index-category-link:hover
    color #fff
    background-color color-python
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-python

#python-icon .st0
  fill color-python-0

.java
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-java
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-java
  .index-category-link:hover
    color #fff
    background-color color-java
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-java

#java-icon .st0
  fill color-java-0

.utilities
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-utilities
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-utilities
  .index-category-link:hover
    color #fff
    background-color color-utilities
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-utilities

#utilities-icon .st0
  fill color-default

.git
  a:hover, #main-nav .current, #main-nav .current:hover, #content-main .article .post-header .post-title a:hover, .post-tag-list .post-tag-list-item .post-tag-list-link:hover, figcaption
    border-color color-git
  .page-logo .icon, .index-category-logo .icon, #hero .hero-arrow .icon
    fill color-git
  .index-category-link:hover
    color #fff
    background-color color-git
    transition background 0.1s ease-out
  .pace .pace-progress
    background color-git