#footer
  clearfix()
  padding width-large 0
  a
    border none

.footer-container
  width 100%
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center
  @media mq-mobile
    flex-flow column nowrap
    justify-content center

.footer-links
  flex 0 50%
  display flex
  flex-flow row nowrap
  align-items center
  .icon
    width icon-large
    height icon-large
    margin-right 15px
    fill color-gray
    opacity 0.5
    &:hover
      opacity 1

.footer-copyright
  flex 0 50%
  text-align right
  color color-gray
  text-transform uppercase
  font-size font-small
  line-height 1.6
  @media mq-mobile
    text-align center
  a
    color color-gray
    position relative
    @extend title-link
    &:before
      background color-gray

.github-links:hover .icon
  fill #24292e

.footer-links .wechat-qrcode-wrap .wechat-qrcode-img
  height 115px
  margin 10px auto
  width 115px

.rss-links
  .icon
    width icon-normal
    height icon-normal
  &:hover .icon
    fill color-default