#hero
  margin auto
  display block
  padding-top 8vh
  padding-bottom 8vh
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center
  @media mq-normal
    height 100vh
    padding-bottom 24vh
    position relative
  .page-logo
    margin auto
    position static
    text-align center
    width 100%
    .icon
      width 150px
      height 150px
      @media mq-mobile
        width 100px
        height 100px
  .page-description
    margin 28px 20px 0
    .page-title
      font-size 72px
      font-weight 600
      text-transform capitalize
      @media mq-mobile
        font-size 60px
    .page-info
      font-size 16px
      text-align center
      font-weight 400
  .hero-arrow
    display none
    opacity 1
    position absolute
    bottom 12vh
    left calc(50% - 18px)
    animation arrow 4s infinite ease-in-out
    transform-origin 0 0 -25px
    @media mq-height
      display block
    @media mq-mobile
      display none
    .icon
      width 36px
      height 36px

@keyframes arrow
  0%
    transform translate3d(0, 0, 0) rotateX(45deg)
    opacity 0
  20%, 60%, 80%
    transform translate3d(0, 0, 0) rotateX(0)
    opacity 1
  100%
    transform translate3d(0, 50px, 0)
    opacity 0