hero-icon-size = 150px

#hero
  flex 1 auto
  padding-top 10vh
  padding-bottom 10vh
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center
  text-align center
  @media mq-normal
    flex-basis 100vh
    height 100vh
    padding-bottom 24vh
    position relative

.page-logo
  margin 0 auto
  position static
  width 100%
  .icon
    width hero-icon-size
    height hero-icon-size
    @media mq-mobile
      width 100px
      height 100px

.page-description
  margin width-large width-normal 0
  .page-title
    font-size 72px
    font-weight 700
    text-transform capitalize
    margin 0
    padding 0
    @media mq-mobile
      font-size 60px
  .page-info
    font-size font-big
    font-weight 400
    text-align center

.hero-arrow
  display none
  opacity 1
  position absolute
  bottom 12vh
  left calc(50% - 18px)
  animation arrow 4s infinite ease-in-out
  transform-origin 0 0 -25px
  @media mq-normal
    display block
  .icon
    width 36px
    height 36px

@keyframes arrow
  0%
    transform translate3d(0, 0, 0) rotateX(45deg)
    opacity 0
  20%, 60%, 80%
    transform translate3d(0, 0, 0) rotateX(0)
    opacity 1
  100%
    transform translate3d(0, 50px, 0)
    opacity 0