index-icon-size = 80px

#index-content-wrap
  width 100%
  background-color #fff
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center

.index-content-main
  width 100%
  flex 0 auto
  margin auto
  padding-top 10vh
  padding-bottom 10vh
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  text-align center
  &:nth-child(odd)
    background color-body
  @media mq-normal
    height calc(((100vh - 110px) / 2))
    min-height 400px
    position relative
  &:nth-last-child(1):first-child
    height calc(100vh - 208px)

.index-category-logo .icon
  width index-icon-size
  height index-icon-size

.index-category-description
  margin 15px 10px 0
  padding-bottom width-large

.index-category-title
  font-size 48px
  font-weight 700
  text-transform capitalize
  margin 0
  padding 0

.index-category-info
  font-size font-big
  text-align center
  font-weight 400

.index-category-link
  text-transform uppercase
  color color-body
  background-color color-default
  border 1px solid color-default
  transition background 0.2s ease-in-out
  padding 8px 15px
  font-weight 600
  font-size 16px
  &:hover
    background none
    border-width 1px
    color color-default

.no-content .index-category-description .index-category-info
  text-transform uppercase
  font-weight 500

#err-icon .st0
  fill #FFD040