.tag-title-wrap
  margin-bottom 15px
  .tag-title
    position relative
    text-transform uppercase
    &::before
      content '#'
      position absolute
      right calc(100% + 10px)
      bottom 0.35em
      color color-gray
      font-size 1.25rem
      font-weight 800
      font-variant 'small-caps'
      font-family font-sans
      left auto
      font none
      padding 0
      vertical-align baseline
      line-height 20px