#article-toc
  padding-left 60px
  display none
  width 200px
  float right
  margin-right -200px
  @media mq-large
    display block

#article-toc-inner
  @extend .inner
  line-height 1
  overflow-x hidden
  overflow-y auto
  width 200px
  position fixed
  top 180px
  .fixed &
    position fixed
    top 50px
    bottom 0

.toc
  border-left 1px solid color-border
  font-size 12px
  padding 0
  padding-top 1em
  padding-left 20px
  margin 0
  .toc-child
    padding 0
    margin 0
    padding-left 1em
    display none

.toc-item
  list-style none
  line-height 2.2

.toc-link
  color color-gray
  display block
  position relative
  width 100%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  border none
  &:hover
    border none
    color color-default

.current
  font-weight 600

.article-toc-title
  border-left 1px solid color-border
  line-height 1
  font-weight 600
  color color-gray
  padding-left 20px
  .icon
    width 12px
    height 12px
    vertical-align middle
    fill color-gray
    margin-right 8px

#article-toc-top
  font-size 13px
  color color-gray
  margin-top 2em
  display block
  border none
  line-height 1
  font-weight 600
  &:hover
    border none
    color color-default

// Mobile Article Toc
#mb-article-toc
  position absolute
  top 0
  right 0
  z-index 100
  #mb-article-toc-inner
    position relative
    @media mq-large
      display none
    &:hover .icon
      fill color-default
    &:hover .toc-wrap
      visibility visible
      opacity 1
    .toc-wrap
      visibility hidden
      transition 0.2s opacity ease, visibility 0.2s
      .toc
        position absolute
        background-color #fff
        overflow-x hidden
        overflow-y scroll
        padding 20px
        width 200px
        max-height 300px
        border 1px solid color-border
        border-radius 5px
        top 40px
        right -20px
        box-shadow 0 5px 10px rgba(0, 0, 0, 0.15)
      .arrow-1
        border solid 10px transparent
        border-bottom-color color-border
        position absolute
        top 21px
        left 10px
      .arrow-2
        border solid 10px transparent
        border-bottom-color #fff
        position absolute
        top 22px
        left 10px
      .toc-child
        display block

.article-toc-button
  width 30px
  height 30px
  border none
  background none
  float right
  cursor pointer
  .icon
    width 30px
    height 30px
    padding 6px
    vertical-align middle
    fill color-gray