#article-toc
  position absolute
  display none
  width 200px
  right -200px
  padding-left 40px
  @media mq-large
    display block

#article-toc-inner
  @extend .inner
  line-height 1
  overflow-x hidden
  overflow-y auto
  width 200px
  position fixed
  top 180px
  .fixed &
    position fixed
    top 50px
    bottom 0

.toc
  font-size font-small
  padding 0
  margin 0
  margin-top 12px
  .toc-child
    padding 0
    margin 0
    display none

.toc-item
  list-style none
  line-height 2.2

.toc-link
  border-left 1px solid color-border
  padding-left width-normal
  color color-gray
  opacity 0.75
  display block
  position relative
  width 100%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  border-bottom none
  &:hover
    border-bottom none
    color color-default

.toc-child .toc-link
  padding-left width-large

.current
  font-weight 600
  &.toc-link
    background-color rgba(245, 247, 249, 0.5)
    border-left 3px solid color-gray

.article-toc-title
  border-left 1px solid color-border
  line-height 1
  font-weight 600
  color color-gray
  padding-left width-normal
  padding-bottom 12px
  .icon
    width 12px
    height 12px
    vertical-align middle
    fill color-gray
    margin-right 8px

#article-toc-top
  font-size 13px
  color color-gray
  margin-top 2em
  display block
  border-bottom none
  line-height 1
  font-weight 600
  &:hover
    border-bottom none
    color color-default

// Mobile Article Toc
#mb-article-toc
  position absolute
  top 0
  right 0
  z-index 100
  #mb-article-toc-inner
    position relative
    @media mq-large
      display none
    &:hover .icon
      fill color-default
    &:hover .toc-wrap
      visibility visible
      opacity 1
    .toc-wrap
      visibility hidden
      transition 0.2s opacity ease, visibility 0.2s
      .toc
        margin-top 0
        position absolute
        background-color #fff
        overflow-x hidden
        overflow-y scroll
        padding 20px
        width 200px
        max-height 300px
        border 1px solid color-border
        border-radius 5px
        top 40px
        right -10px
        box-shadow 0 5px 10px rgba(0, 0, 0, 0.15)
      .arrow-1
        border solid 10px transparent
        border-bottom-color color-border
        position absolute
        top 21px
        left 10px
      .arrow-2
        border solid 10px transparent
        border-bottom-color #fff
        position absolute
        top 22px
        left 10px
      .toc-child
        display block
        .toc-link
          padding-left width-small
      .toc-link
        border none
        padding-left 0

.article-toc-button
  width 30px
  height 30px
  border none
  background none
  float right
  cursor pointer
  .icon
    width 30px
    height 30px
    padding 6px
    vertical-align middle
    fill color-gray
