note-info = #3884ff
note-warn = #f77d05
note-danger = #ff4642
note-tip = #26cb7c

h1, h2, h3, h4, h5, h6
  clear both
  line-height 1.6
  margin 0 0 0.75em
  padding 0.75em 0 0
  position relative
  &:first-child
    padding-top 0

h1
  font-size 24px
  font-weight 600

h2
  font-size 20px
  font-weight 500

h3
  font-size 18px
  font-weight 500

h4
  font-size 16px
  font-weight 500

h5, h6
  font-size 15px
  font-weight 500

p
  margin 0 0 1.2em
  padding 0
  text-align justify

dfn, cite, em, i
  font-style italic

blockquote
  color color-gray
  font-size 13px
  padding 0 0 0 width-large
  overflow hidden
  text-align justify
  position relative
  margin width-large 0
  border-left 5px solid color-border

blockquote cite
  display block
  font-style normal
  font-weight 600
  margin-top 0.5em

blockquote p&:last-child
  margin-bottom 0

.note
  background-color color-body
  border-radius 4px
  padding 20px 30px 20px 70px
  position relative
  .icon
    position absolute
    top width-normal
    left width-normal
    width width-large
    height width-large
    vertical-align middle
  &.info
    border-left-color note-info
    .icon
      fill note-info
  &.warn
    border-left-color note-warn
    .icon
      fill note-warn
  &.danger
    border-left-color note-danger
    .icon
      fill note-danger
  &.tip
    border-left-color note-tip
    .icon
      fill note-tip
  .note-title
    display block
    font-size 18px
    line-height width-normal
    margin-bottom width-small
    font-weight bold

address
  margin 0 0 1.5em

pre
  background color-body
  font-family font-mono
  font-size 13px
  line-height 1.4
  width 100%
  max-width 100%
  overflow auto
  tab-size 4
  border-radius 2px

code, kbd, tt, var
  font-family font-mono
  font-size 13px
  margin 0 1px
  padding 0 1px
  border-radius 1px
  background-color color-body

abbr, acronym
  border-bottom 1px dotted color-border
  cursor help

mark, ins
  background color-body
  border-radius 2px
  margin 0 1px
  text-decoration none

big
  font-size 125%

:focus
  outline none

hr
  background-color color-border
  border 0
  height 1px
  margin-bottom 1.5em

// Lists
ul, ol
  margin 5px 0
  padding-left width-normal
  padding-bottom width-small
  vertical-align baseline
  text-align justify

dl
  text-align justify

ul
  list-style circle

ol
  list-style decimal

li > ul, li > ol
  margin-bottom 0
  margin-left 1.5em
  padding-left 0.625em

li > p
  margin-bottom 0

dt
  font-weight 500

dd
  margin 0 1.25em 1.25em

.check-list
  list-style none
  padding-left 0
  input
    height 1em
    width 1em
    margin-right width-small

// Table
table
  font-size 13px
  overflow auto
  width 100%
  border-collapse collapse
  word-wrap normal
  word-break normal
  margin 0 0 1.5em

caption
  font-size 12px
  margin 10px 0
  caption-side bottom

th
  font-weight 500
  padding 0.4em
  text-align left
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

thead th
  border-top 1.5px solid color-border
  border-bottom 1.5px solid color-border
  padding-bottom 0.5em

td
  padding 0.4em
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

thead tr
  background-color color-body

tbody tr:nth-child(even)
  background-color color-body

tr:last-child
  border-bottom 1px solid color-border

.highlight
  table, th, tr
    border none

// Links
a
  color color-default
  text-decoration none
  border-bottom 1px dotted color-gray
  transition border-bottom 0.1s ease-out
  &:hover
    border-bottom 2px solid color-default

// Image Figure
figure
  margin-block-start width-normal
  margin-block-end width-normal
  margin-inline-start 0
  margin-inline-end 0
  width 100%
  .image-caption
    margin-block-start width-normal
    margin-block-end width-normal
    text-align center
    position relative
    font-size 12px
    color color-gray
    line-height 1
    background-color color-body
    padding 5px 0 5px width-large
    border-left 4px solid color-gray