// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official
// Colors
color-default = #2b2b2b
color-body = rgb(245, 247, 249)
color-border = rgb(230, 236, 241)
color-gray = rgb(116, 129, 141)
// Typography
font-sans = metropolis, -apple-system, SF UI Text, 'Helvetica Neue', helvetica, Segoe UI, Arial, PingFang SC, Hiragino Sans GB, Microsoft JhengHei, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
font-serif = Garamond, Georgia, 'Times New Roman', serif
font-mono = Menlo, 'Source Code Pro', Monaco, Consolas, monospace
font-size = 14px
font-small = 12px
font-big = 16px
line-height = 2.2
// Layout
max-width = 1080px
content-width = 640px
width-normal = 20px
width-small = 10px
width-large = 30px
icon-normal = 20px
icon-large = 24px
icon-small = 15px
// Media queries
mq-large = 'screen and (min-width: 1080px)'
mq-mobile = 'screen and (max-width: 768px)'
mq-normal = 'screen and (min-width: 769px)'
mq-tablet = 'screen and (min-width: 480px)'