global-reset()
// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official
// Colors
color-default = #2b2b2b
color-body = rgb(245, 247, 249)
color-gray = rgb(116, 129, 141)
color-border = rgb(230, 236, 241)
// Typography
font-sans = metropolis, -apple-system, SF UI Text, 'Helvetica Neue', helvetica, Segoe UI, Arial, PingFang SC, Hiragino Sans GB, Microsoft JhengHei, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
font-serif = Garamond, Georgia, 'Times New Roman', serif
font-mono = Menlo, 'Source Code Pro', Monaco, Consolas, monospace
font-size = 14px
line-height = 1.6em
// Layout
max-width = 1080px
content-width = 640px
gutter-width = 20px
// Media queries
mq-mobile = 'screen and (max-width: 768px)'
mq-normal = 'screen and (min-width: 769px)'
mq-large = 'screen and (min-width: 1080px)'
mq-tablet = 'screen and (min-width: 480px)'
mq-height = 'screen and (min-height: 600px)'