<% if ((is_post() && post.categories && post.categories.length) || is_archive() || is_tag()){ %>
<span class="<%= class_name %>">
  <%- __('post.meta_cat') %>
  <%- list_categories(post.categories, {
    show_count: false,
    class: 'post-category',
    style: 'none',
    separator: '&raquo;',
    depth: 2
  }) %>
</span>
<% } %>
