<aside id="mb-article-toc" role="navigation">
  <div id="mb-article-toc-inner">
    <button class="article-toc-button"><%- svg_icon('menu') %></button>
    <%- toc(post.content, {list_number: false, max_depth: 3}) %>
  </div>
</aside>