<div id="post-reactions">
  <div id="post-reactions-inner">
    <span class="post-reactions-title"><%- __('post.is_helpful') %></span>
    <div class="post-reactions-button">
      <button id="reaction-bad"><%- svg_icon('bad') %></button>
      <button id="reaction-notbad"><%- svg_icon('notbad') %></button>
      <button id="reaction-good"><%- svg_icon('good') %></button>
    </div>
  </div>
</div>