---
layout: index
---
//- section.index-content-main.swift
//-     .wrapper
//-         .index-content-inner.inner
//-             .index-category-logo
//-                 svg.icon
//-                     use(xlink:href='#swift-icon', href='#swift-icon')
//-             .index-category-description
//-                 h1.index-category-title Swift
//-                 p.index-category-info 一种支持多编程范式和编译式的开源编程语言
//-             a.index-category-link(href='/swift') Read More

//- section.index-content-main.java
//-     .wrapper
//-         .index-content-inner.inner
//-             .index-category-logo
//-                 svg.icon
//-                     use(xlink:href='#java-icon', href='#java-icon')
//-             .index-category-description
//-                 h1.index-category-title Java
//-                 p.index-category-info 一种支持多编程范式和编译式的开源编程语言
//-             a.index-category-link(href='/swift') Read More

section.index-content-main.javascript
    .wrapper
        .index-content-inner.inner
            .index-category-logo
                svg.icon
                    use(xlink:href='#javascript-icon', href='#javascript-icon')
            .index-category-description
                h1.index-category-title JavaScript
                p.index-category-info 一种具有函数优先的轻量级，解释型或即时编译型的编程语言
            a.index-category-link(href='/javascript') Read More

section.index-content-main.css
    .wrapper
        .index-content-inner.inner
            .index-category-logo
                svg.icon
                    use(xlink:href='#css-icon', href='#css-icon')
            .index-category-description
                h1.index-category-title CSS
                p.index-category-info 一种样式表语言，用来描述 HTML 或 XML文档的呈现
            a.index-category-link(href='/css') Read More

section.index-content-main.git
    .wrapper
        .index-content-inner.inner
            .index-category-logo
                svg.icon
                    use(xlink:href='#git-icon', href='#git-icon')
            .index-category-description
                h1.index-category-title Git
                p.index-category-info 一个分布式版本控制软件
            a.index-category-link(href='/git') Read More

section.index-content-main.hexo
    .wrapper
        .index-content-inner.inner
            .index-category-logo
                svg.icon
                    use(xlink:href='#hexo-icon', href='#hexo-icon')
            .index-category-description
                h1.index-category-title Hexo
                p.index-category-info 一个快速、简洁且高效的静态网站框架
            a.index-category-link(href='/hexo') Read More

section.index-content-main.utilities
    .wrapper
        .index-content-inner.inner
            .index-category-logo
                svg.icon
                    use(xlink:href='#utilities-icon', href='#utilities-icon')
            .index-category-description
                h1.index-category-title Utilities
                p.index-category-info 一些常用的实用工具、技巧
            a.index-category-link(href='/utilities') Read More
